pre {
  border-radius: 5px;
}

code {
  font-family: Consolas, "Noto Sans KR", "Source Code Pro", Menlo, Monaco,
    "Courier New", "Nanum Gothic Coding", monospace;
  border-radius: 5px;
  font-weight: lighter;
  font-size: 85%;
  background-color: #e4e4e494;
  padding: 0.2em 0.45em;
  margin: 0 0.15em;
}
.hljs {
  padding: 1.25em 1.3em;
  margin: 2.15em 0;
  font-weight: 100;
  display: block;
}
